.card {
  align-items: center;
  box-sizing: border-box;
  border: 1px solid $card-border-color;
  border-radius: 5px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  height: 406px;
  width: 200px;

  &__icon {
    width: 160px;
    height: 134px;
    margin-top: 32px;
  }

  &__container {
    padding-inline: 16px;
  }

  &__name {
    color: $first-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 40px;
  }

  &__code {
    color: $second-color;
    font-size: 10px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  &__reviews-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 0;
  }

  &__reviews-text {
    color: $first-color;
    font-size: 10px;
  }

  &__price-blok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 0;
  }

  &__price-text {
    color: $second-color;
    font-size: 12px;
    margin: 0;
  }

  &__price-number {
    color: $first-color;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
  }

  &__button-buy {
    background-color: $blue-accent;
    border-radius: 5px;
    border: $blue-accent solid 1px;
    color: $color-white;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 16px;
    margin-bottom: 0;
    width: 166px;
    height: 40px;

    &:hover {
      background-color: $color-white;
      color: $blue-accent;
    }
  }
}
