html {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

@import 'utils/variables';
@import 'blocks/card';
@import 'blocks/stars';
